
/*----banner----*/
.b_content{
  object-fit: cover;
  overflow: hidden;
  height: 420px;
  align-content: center;
}

/*----todo contenido----*/
.desing {
  margin-top: 20px;
}

.design {
  margin-top: 100px;
}

.design {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/*----contenido texto----*/
h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
 
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

ul ul {
  margin-top: 5px;
  margin-left: 20px;
}

.design > div {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;

  transition: 0.3s;
}

