section{
    margin-top: 60px;
}

/*-----------info-----------*/
.info_plat{
padding-left: 40px;
padding-right: 40px;
}

.info{
    color: black !important;
}

.plataforma{
    text-align: center;
}

/*-----------card--------*/
.card_wrap{
    padding-bottom: 60px;
    display: grid;
    margin: 0, auto;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(80px , 1fr));
    gap: 40px;
   
}

.card{
    display: flex;
    text-align: center;
    background-color: rgb(103, 103, 103);
    justify-content: center;
    padding: 30px 20px;
}

.card-body a, .card-body p{
    color:#ffff;
    text-decoration: none;
}

.card-body a:hover, .card-body p:hover{ 
    color:#96d7e2;
    text-decoration: underline;
}