
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
section{
    margin-top: 40xpx;
}

/* Fondo general */
body {
    background-color: #f1efef;
    color: #080808;
}

/*espacio antes de footer*/
main{
    margin-bottom: 60px;
}

/* TITULO */
h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
}

/* LISTA DE GENEROS */
.lista_genres{
    width: 80%;
    justify-content: center;
    padding-left: 170px;
}

.contenido_lista{
    list-style: none;
}

p{
    color: #fff;

}

.lista_genres > .contenido_lista {
    background-color: #2a2a2a;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.lista_genres > .contenido_list:hover { 
    background-color: #333;
}

/* SUBLISTAS */
.lista_genres, .datos_lista{ 
    margin-top: 10px;
    margin-left: 20px;
}

ul ul li {
    margin: 5px 0;
    color: #ccc;
}

/* TITULOS DE GENEROS */
strong {
    font-size: 18px;
    color: #fff;
}

